body{
    background: rgb(167, 181, 245);
}
p{
    font: normal 30pt Arial;
    text-align: center;
}
section{
    background: white;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    font: normal 20pt Arial;
    line-height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
footer{
    text-align: center;
    line-height: 200px;
}

div{
    position: relative;
    bottom: -20px;
    text-align: left;
    padding: 15px;
    font: normal 15pt Arial;
}

